$white : #ffffff;


.box {
  background: $white;
  border: 3px solid black;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
    background: $white;
    color: white;
  }
}

#email {
  background-color: blue;
}

input {

}

body {
  color: black;
  background-color: $white;
}

.container {
  background-color: limegreen;
}

li, a {
  list-style: none;
  text-decoration: none;
}
